body {
    background-image: url("images/Pompeii&Vesuvius.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#settings {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.centre{
	text-align: center;
}
.title{
	height: 10%;
	width: 100%;
}
.fit{
	height: 10%;
	width: 10%;
	float: right;
}
.inline{
	display: inline;
}
td{
	display: flex;
	justify-content: space-around;            
}
td{
  padding-bottom: 1em;
}
th{
  padding-bottom: 1em;
}
table{
	width: 100%;
}
th{
	width:10%;
}